:root {
  --background: #FFF;
  --foreground: #6E07F3;
  --primary: #141C3A;
  --primary-light: #CDD3EB;
  --primary-foreground: #FFF;
  --secondary: #5BE8B9;
  --secondary-foreground: #141C3A;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.button {
  display: inline-block;
  border: 0.2rem solid var(--foreground);
  color: var(--foreground);
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem;
  transition: all ease .2s;
}

.button:hover {
  background-color: var(--foreground);
  color: var(--primary-foreground);
}